<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

**Objectives:**

- List popular languages for Data Science
- List popular lybrary for Data Science
- List popular tools for Data Science

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

* PYTHON
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:

1. ggplot (R)
2. dplyr (R)
3. string (R)
4. caret (R)
5. TensorFlow (Python)
6. SciPy (Python)
7. NumPy (Python)
8. Matplotlib(Python)
9. Scikit-Learn (Python)
10. Keras (Python)
11. Pandas (Python) *and other*

|Data Science Tools|
| ----------------|
|Jupyter Notebooks|
|Anaconda|
|Visual Studio CODE|
|Jupyter Lite|
|GOOGLE Colaboratory|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

This will convert 200 minutes to hours by diving by 60:

In [10]:
n=int(input("Enter Minutes"))
hr=n//60
min=n%60
print("Hours:",hr,"Minutes:",min)

Enter Minutes 200

Hours: 3 Minutes: 20

## Anastasiia Dovmat